<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css">

<!--echart-->
<script src="https://cdn.jsdelivr.net/npm/echarts@5.1.2/dist/echarts.min.js"></script>


<!--axios-->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">WMA</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link align-middle px-0 text-light">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">รายงานเชิงบริหาร</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/maps" class="nav-link align-middle px-0 text-light">
                                <i class="bi bi-geo-alt"></i> <span class="ms-1 d-none d-sm-inline">แผนที่</span>
                            </a>
                        </li>
                      
                        <li>
                            <a href="/search" class="nav-link px-0 align-middle text-light">
                                <i class="bi bi-search"></i><span class="ms-1 d-none d-sm-inline">ระบบสืบค้นข้อมูลคุณภาพน้ำ</span></a>
                        </li>
                        <!---
                        <li>
                            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                                <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                                <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                <li class="w-100">
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                                </li>
                                <li>
                                    <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link px-0 align-middle">
                                <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                        </li>
                    </ul>
                    <hr>
                    --->
                </div>
            </div>
            <div class="col py-3">
                <!-- Page Wrapper -->
    <div id="wrapper" style="">
        <br>

        

       <!-- Content Wrapper -->
       <div id="content-wrapper" class="d-flex flex-column">

           <!-- Main Content -->
           <div id="content">

              

               <!-- Begin Page Content -->
               <div class="container-fluid">

                   <!-- Page Heading -->
          
                  
                  
                   <h1>สถานีจุดตรวจวัดคุณภาพน้ำ <%= data[0].name %></h1>
                <br>
                      

                   <!-- Content Row -->

                   <div class="row">

                  
                       <!-- Area Chart -->
                       <div class="col-xl-12 col-lg-12">
                           <div class="card shadow mb-4">
                               <!-- Card Header - Dropdown -->
                               <div
                                   class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                   <h6 class="m-0 font-weight-bold text-primary">ข้อมูลคุณภาพน้ำ</h6>
                                   <div class="dropdown no-arrow">
                                       <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                           <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                       </a>
                                       <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                           aria-labelledby="dropdownMenuLink">
                                           <div class="dropdown-header">เลือกช่วงเวลา:</div>
                                           <a class="dropdown-item" href="#">รายสัปดาห์</a>
                                           <a class="dropdown-item" href="#">รายเดือน</a>
                                           <a class="dropdown-item" href="#">รายปี</a>
                                           <div class="dropdown-divider"></div>
                                           <a class="dropdown-item" href="#">กำหนดเอง</a>
                                       </div>
                                   </div>
                               </div>
                               <!-- Card Body -->
                               <div class="card-body">
                                   <div class="chart-area">
                                        <div id="water_monthly" style="width: 100%; height: 320px"></div>
                                   </div>
                               </div>
                           </div>
                       </div>
                       
                      

                   </div>

                   <!-- Content Row -->

               

                   

             

               </div>
               <!-- /.container-fluid -->

                
               
                

           <div class="container-fluid">

            <!-- Page Heading -->
            
            
           
                
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">ข้อมูลคุณภาพน้ำรายวัน</h6>
                </div>
                <div class="card-body">
                    <% if (locals.data) { %>

                        <div class="table-responsive-sm ">
                        <table class="table table-sm  table-hover">
                            <thead class="table-primary">
                            <tr>
                               
                                <th scope="col">วันที่</th>
                                <th scope="col">เวลา</th>
                                <th scope="col">pH</th>
                                <th scope="col">Salinity</th>
                    
                                <th scope="col">TDS</th>
                               
                                <th scope="col">DO</th>
                                <th scope="col">Temp</th>
                               
                                <th scope="col">Conductivity</th>
                                <th scope="col">Water_Level</th>
                                <th scope="col">Velocity</th>
                                <th scope="col">Flowrate</th>
                               
                                
                            </tr>
                            </thead>
                            <% 
                            for (d of data) { 
                                let dt = new Date(Date.parse(d.date_added))
                                let df = `${dt.getDate()}-${dt.getMonth() + 1}-${dt.getFullYear()}`
                            %>
                            <tbody>
                                <tr>
                                    <td><%= d.dateTh %></td>
                                    <td><%= d.dateTime %></td>
                                    <td><%= d.ph %></td>
                                    <td><%= d.salinity %></td>
                                    <td><%= d.tds %></td>
                                    <td><%= d.do %></td>
                                    <td><%= d.temp %></td>
                                    <td><%= d.conductivity %></td>
                                    <td><%= d.waterLevel %></td>
                                    <td><%= d.velocity %></td>
                                    <td><%= d.flowRate %></td>
                                    
                                   
                                   
                                </tr>
                            </tbody>
                            <% } %>
                        </table>
                        <% } %>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->
          

           <!-- Footer -->
           <footer class="sticky-footer bg-white">
               <div class="container my-auto">
                   <div class="copyright text-center my-auto">
                       <span>Copyright &copy; Your Website 2021</span>
                   </div>
               </div>
           </footer>
           <!-- End of Footer -->

       </div>
       <!-- End of Content Wrapper -->

   </div>
   <!-- End of Page Wrapper -->
            </div>
        </div>
    </div>

  
    
    <script type="text/javascript">
        // based on prepared DOM, initialize echarts instance
        var myChart = echarts.init(document.getElementById("water_monthly"));
  
        option = {
    title: {
        text: '',
        subtext: 'ปริมาณ'
    },
    tooltip: {
        trigger: 'axis'
    },
    legend: {
        data: ['do', 'pH','Water level']
    },
    toolbox: {
        show: true,
        feature: {
            dataView: {show: true, readOnly: false},
            magicType: {show: true, type: ['line', 'bar']},
            restore: {show: true},
            saveAsImage: {show: true}
        }
    },
    calculable: true,
    xAxis: [
        {
            type: 'category',
            
            data: ['00.00', '01.00', '02.00', '03.00', '04.00', '05.00', '06.00','07.00', '08.00', '09.00', '10.00', '11.00', '12.00',
            '13.00', '14.00', '15.00', '16.00', '17.00', '18.00', '19.00','20.00', '21.00', '22.00','23.00']
        }
    ],
    yAxis: [
        {
            type: 'value'
        }
    ],
    series: [
        {
            name: 'do',
            type: 'bar',
            data: [3.47, 3.21, 3.31, 3.21, 3.40, 3.58, 3.58, ],
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: 'ค่าเฉลี่ย'}
                ]
            }
        },
        {
            name: 'pH',
            type: 'bar',
            data: [7.15, 7.13, 7.13, 7.13, 7.14, 7.15, 7.16, ],
            markPoint: {
                data: [
                    {type: 'max', name: '最大值'},
                    {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: 'ค่าเฉลี่ย'}
                ]
            }
        },
         {
            name: 'Water level',
            type: 'bar',
            data: [64, 53, 56, 61, 62, 58, 62, ],
            markPoint: {
                data: [
                   {type: 'max', name: '最大值'},
                    {type: 'min', name: '最小值'}
                ]
            },
            markLine: {
                data: [
                    {type: 'average', name: 'ค่าเฉลี่ย'}
                ]
            }
        }
    ]
};


  
        // use configuration item and data specified to show chart
        

      </script>

<script>

const waterchart = () => {
  axios
    
    .get("/riddata-cp02")
    .then((response) => {
      console.log(response.data);
     // console.log(data);
     let numWater = response.data.data.length
     //console.log(numWater)
     let sum = 0
     let eiei01 = []
     let eiei02 = []
     let eiei03 = []
    
     
     for (i=0; i < numWater; i++){
        eiei01[i] =  response.data.data[i].ph
        eiei02[i] =  response.data.data[i].waterLevel
        eiei03[i] =  response.data.data[i].do
     }

     console.log('test :',eiei01)
     option.series[0].data = eiei03
     option.series[1].data = eiei01
     option.series[2].data = eiei02

     myChart.setOption(option);
    });
};

waterchart()




</script>









 

    
</body>
</html>